.idea
.env
build
node_modules
npm-debug.log
yarn-error.log
**/.DS_Store
zipCode


node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.vscode/

Backend/public/assets
Backend/config/default.json

# macOS
.DS_Store